.head {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 11vh;
}
.head #links {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 2vw;
    width: clamp(5rem, 35rem, 50rem);
    height: 11vh;
}
.head #nameLogo {
    display: flex;
    justify-content: space-around;
    height: fit-content;            
    width: 20rem;
}
#nameLogo h1 {
    color: white;   
    letter-spacing: 2px;
    font-size:2.3rem;
}
a {
    text-decoration: none;
    color: white;
    height: fit-content;
    padding-top: .2vh;
    font-size: clamp(.4rem, 1.4vw, 2.8rem);
}
a:hover{
    color:#38b2ff;
    border-bottom: 2px solid #38b2ff;
}
p{
    line-height: 2.25;
    font-size: 20px;
}








#Selfie{
    width: 100vw;
    height: 100vh;
}
.aboutme {
    padding-top: 10vh;
    padding-left: 8vw;
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right{
    width: 35%;
}
.left{
    width:40%;
    
}
.aboutme .text{
    font-size: 3rem;
}
.lang img{
    width: 20%;
    height: 20%;
}
.text{
    width: 30vw;
    text-align: center;
}
.text h3 {
    border-bottom: 4px solid #38b2ff;
}
.Skills {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}






#hr{
    width:80%;
    height:1px;
    background-color: black;
    border: 2px solid black;
    margin-right: 0vw;
    margin-left: 8%;
}





 #resumeTitle h2{
    font-size: 48px;
    width: fit-content;
    margin-left: 43vw;
    text-align: center;
    border-bottom: 4px solid #38b2ff;
}
.resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
}

.resume .rlist{
    padding: 0 0 20px 20px;
    margin-bottom: 5px;
    border-left: 2px solid black;
    width: 35vw;
}
.resume .lList {
    padding: 0 0 20px 20px;
    margin-bottom: 5px;
    border-left: 2px solid black;
    width: 35vw;
}

.list-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: calc(clamp(.2rem, 1.8rem, 2rem)*-1);
    border-radius: 50px;
    background: black;
    border: 2px solid black;
}

::before{
    box-sizing: border-box;
}

#edu{
    width:100%;
}
.list h3{
    color: #38b2ff;
    font-size: 32px;
}
.images{
    height: 60vh;
    width: 30vw;
    overflow: scroll;
}
.images img{
    height: 60vh;
    width: 30vw;
}





.footer {
    display: block;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer p{
    color: white;
}
.footer h3{
    color: white;
}




body{
    height: 100vh;
    width: 100vw;
    margin-left: 0;
}

::before {
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
}


@media only screen and (max-width: 920px) {
    .head #links{
        width: 20rem;
    }
    .home{
        width: fit-content;
        height: fit-content;
    }
    .work {
        width: fit-content;
        height: fit-content;
    }
}
@media only screen and (max-width: 811px) {
    .lang img{
        width:40%;
        height: 40%;
    }
    .right {
        width: 16rem;
        height: 30rem;
    }
    .left {
        width: 16rem;
        height: 30rem;
    }
    .text {
        width: 16rem;
        height: 30rem;
    }
}
@media only screen and (max-width: 801px) {
    .resume .rlist {
        width: 20rem;
    }
    .resume .lList{
        width: 20rem;
    }
}
@media only screen and (max-width: 766px){
    .head #nameLogo h1{
        padding-top: 1.3rem;
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 760px) {
    .head #nameLogo{
           width: 15rem;
        }
    .resume .rlist {
            width: 85vw;
        }
    
    .resume .lList {
        width: 85vw;
    }
    .images {
        width: 80vw;
    }

    .images img {
        width: 80vw;
    }
}

@media only screen and (max-width: 640px) {
    .resume {
        flex-direction: column;
        justify-content: center;
    }
    .aboutme {
        justify-content: center;
    }
    .images {
        width: 80vw;
    }
    .images img{
        width: 80vw;
    }
    .resume .rlist{
        width:85vw;
    }
}

@media only screen and (max-width: 580px) {
    .head #nameLogo {
        width: 5rem;
    } 
    a{
        font-size: 1rem;
    }
}