*{
    box-sizing: border-box;
}

.head {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 11vh;
    border-bottom:2px solid white ;
}
.head #links {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 2vw;
    width: clamp(5rem, 35rem, 50rem);
    height: 11vh;
}
.head #nameLogo {
    display: flex;
    justify-content: space-around;
    height: fit-content;            
    width: 20rem;
}
#nameLogo h1 {
    color: white;   
    letter-spacing: 2px;
    font-size:2.3rem;
}
a {
    text-decoration: none;
    color: white;
    height: fit-content;
    padding-top: .2vh;
    font-size: clamp(.4rem, 1.4vw, 2.8rem);
}
#links .work:hover{
    color:#38b2ff;
    border-bottom: 2px solid #38b2ff;
}
#links .home:hover {
    color: #38b2ff;
    border-bottom: 2px solid #38b2ff;
}
p{
    line-height: 2.25;
    font-size: 20px;
}









.centerIMG{
    padding-top: 11vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
#Selfie{
    width: 80%;
}
.centerAM{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutme {
    padding-top: 10vh;
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right{
    width: 35%;
}
.left{
    width:40%;
    
}
.aboutme .text{
    font-size: 3rem;
}
.lang img{
    width: 20%;
    height: 20%;
}
.text{
    width: 100%;
    text-align: center;
}
.text h3 {
    border-bottom: 4px solid #38b2ff;
}
.Skills {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}




.centerHR{
    width: 100%;
    display: flex;
    justify-content: center;
}

#hr{
    width: 80%;
    background-color: black;
    border: 2px solid black;
}





 #resumeTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
#resumeTitle h2{
    width: fit-content;
    font-size: 48px;
    border-bottom: 4px solid #38b2ff;
}
.resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
}

.resume .rlist{
    padding: 0 0 20px 20px;
    margin-bottom: 5px;
    border-left: 2px solid black;
    width: 35vw;
}
.resume .lList {
    padding: 0 0 20px 20px;
    margin-bottom: 5px;
    border-left: 2px solid black;
    width: 35vw;
}

.list-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: calc(clamp(.2rem, 1.8rem, 2rem)*-1);
    border-radius: 50px;
    background: black;
    border: 2px solid black;
}

::before{
    box-sizing: border-box;
}

#edu{
    width:100%;
}
.list h3{
    color: #38b2ff;
    font-size: 32px;
}
.images{
    height: 60vh;
    width: 30vw;
    overflow: scroll;
}
.images img{
    height: 60vh;
    width: 30vw;
}





.footer {
    display: block;
    background-color: black;
    text-align: center;
    width: 100%;
}
.footer p{
    color: white;
}
.footer h3{
    color: white;
}




body{
    height: 100vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

::before {
    box-sizing: border-box;
}
.container-custom{
    display:flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
}