/* makes the header container */
/* #mainTitleContainer {
    top: -30px;
    position: relative;
    padding-bottom: 10px;
    font-size: 45px;
    font-family: Barlow-Meium;
    color: #000000;
    text-align: center;
    margin-top: 2ch;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
} */


/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2vh 0px;
    color: white;
}

.footer {
    display: block;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}




.head {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 11%;
}

.head #links {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 2vw;
    width: clamp(5rem, 35rem, 50rem);
    height: 11vh;
}

.head #nameLogo {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    width: 20rem;
}

#nameLogo h1 {
    color: white;
    letter-spacing: 2px;
    font-size: 2.3rem;
}

a {
    text-decoration: none;
    color: white;
    height: fit-content;
    padding-top: .2vh;
    font-size: clamp(.4rem, 1.4vw, 2.8rem);
}

#links .work:hover {
    color: #38b2ff;
    border-bottom: 2px solid #38b2ff;
}

#links .home:hover {
    color: #38b2ff;
    border-bottom: 2px solid #38b2ff;
}

p {
    line-height: 2.25;
    font-size: 20px;
}




.topnav {
    display: none;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}









* {
    box-sizing: border-box;
}
   
html {
    height: 100%;
}

body {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.custom{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}