/* makes the header container */
/* #mainTitleContainer {
    top: -30px;
    position: relative;
    padding-bottom: 10px;
    font-size: 45px;
    font-family: Barlow-Meium;
    color: #000000;
    text-align: center;
    margin-top: 2ch;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
} */


/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2vh 0px;
    color: white;
}
.footer {
    display: block;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}




.head{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    top: 0;
    right:0;
    width:100%;
    height:11vh;
}
.head #links{
    position: fixed;
    right:0;
    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right:2vw;
    padding-top: 1.5vh;
    width:clamp(13vw, 50vw, 51vw);
}

.head #nameLogo{
    display: flex;
    justify-content: space-around;
    padding-top: .5vh;
    height: fit-content;
    width: clamp(8vw, 32vw, 40vw);
}
#nameLogo h1{
    color: white;
    letter-spacing: 2px;
    font-size: clamp(1rem,  2.3vw, 2.8rem);
}
a {
    text-decoration: none;
    color: white;
    height:fit-content;
    padding-top: .2vh;
    font-size: clamp(.4rem, 1.4vw, 2.8rem);
}





body {
    height: 100vh;
    width: 100vw;
}









* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top:10vh;
    justify-content: space-evenly;
    height: 78vh;
}

.mySlides{
    display: flex;
    justify-content: center;
    margin-top: 11vh;
    height: 55vh;
    width: 40vw;
}
.mySlides img{
    height: 55vh;
    width: 40vw;
    border-radius: 50px;
}
.text{
    position: absolute;
    font-size: larger;
    color: black;
    width: 40vw;
    height:55vh;
    text-align: center;
    top: 50%;
    transform: translateY(-30%);
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1vw;
    margin-top: 4vh;
    margin-right:.9vw;
    margin-left:.9vw;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 12px;
    background-color: #000000;
}
.prev{
    background-color: #000000;
    border-radius: 12px;
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: grey;
}
@media only screen and (max-width: 650px) {
    .mySlides {
        width: 80vw;
        }
    .mySlides img {
        height: 55vh;
        width: 80vw;
        border-radius: 50px;
    }
    .prev,
    .next{
        margin-top: 4vh;
    }
}