/* makes the header container */
/* #mainTitleContainer {
    top: -30px;
    position: relative;
    padding-bottom: 10px;
    font-size: 45px;
    font-family: Barlow-Meium;
    color: #000000;
    text-align: center;
    margin-top: 2ch;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
} */


/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2vh 0px;
    color: white;
}
.footer {
    display: block;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}







.head{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: grey;
    top: 0;
    right:0;
    width:100%;
    height:11vh;
}
.head #links{
    margin-top: 3vh;
    display:flex;
    justify-content: space-evenly;
    padding-right:2vw;
}

.head #nameLogo{
    height: fit-content;
    padding-bottom: 1vh;
    padding-left: 3vw;
}
a {
    text-decoration: none;
    color: black;
    height:fit-content;
    padding-top: 1.25vh;
}

input {
    border-radius: 12px;
    border: 2px solid grey;
    margin-top: 1.25vh;
}

#space{
    background-color: red;
    height:2px;
}







body {
    background-color: #595454;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.1'%3E%3Ccircle fill='%23595454' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23595250' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%2359504c' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23574f48' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23534e44' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%234E4E41' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}









* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    top: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mySlides{
    padding-top: 15vh;
    height: 85.4vh;
    width: 40vw;
}
.mySlides img{
    height: 55vh;
    width: 40vw;
    border-radius: 50px;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1vw;
    margin-top: 4vh;
    margin-right:.9vw;
    margin-left:.9vw;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 12px;
    background-color: #000000;
}
.prev{
    background-color: #000000;
    border-radius: 12px;
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: grey;
}
@media only screen and (max-width: 750px) {
    h1{
        padding-top: 2vh;
        font-size: 20px;
    }
}
@media only screen and (max-width: 650px) {
    .mySlides {
        padding-top: 15vh;
        width: 80vw;
        }
    .mySlides img {
        height: 55vh;
        width: 80vw;
        border-radius: 50px;
    }
    .prev,
    .next{
        margin-top: 4vh;
    }
}
@media only screen and (max-width: 620px) {
    h1{
        padding-top: 3vh;
        font-size: 15px;
    }
    a{
        padding-top: 2vh;
        font-size: 10px;
    }
    input{
        margin-top: 1.65vh;
        height: 2.3vh;
        width: 20vw;
    }
}