@media only screen and (max-width: 920px) {
    .head #links {
        width: 20rem;
    }

    .home {
        width: fit-content;
        height: fit-content;
    }

    .work {
        width: fit-content;
        height: fit-content;
    }
}


@media only screen and (max-width: 687px) {
    .topnav {
        display: block;
        width: 4rem;
    }

    #links .work {
        display: none;
    }

    #links .home {
        display: none;
    }

    .head #links {
        width: 6rem;
    }

    #myLinks p {
        font-size: .8rem;
    }

    .topnav a {
        padding: 10px 10px;
    }
}

@media only screen and (max-width:361px) {

    .head {
        width: 100%;
    }
}

@media only screen and (max-width:425px) {
    .head #nameLogo {
        width: 6rem;
        height: 8vh;
    }

    .head #nameLogo h1 {
        font-size: 1rem;
        padding-top: .8rem;
    }

    .head {
        justify-content: space-evenly;
        width: 100%;
    }

    .footer {
        width: 100%;
    }
    #myLinks p {
        font-size: .6rem;
    }
   #myLinks a{
       height: fit-content;
       padding: 0;
       padding-left: 10px;
   }
}